{% extends "base.html" %}
{% block title %} Pensioner Management System {% endblock title %}
        {% block content %}
        <div class="container-fluid p-1 bg-primary text-white text-center">
            <h1>Pension Management System</h1>
        </div>
    
                <h3>Add New Pensioner</h3>
            <div class="row">    
            <form class="form-group inline-block" action="add_new" method="post" class="form-inline">
            {% csrf_token %}
           
             <div class="col">
            <label for="name" class="col-sm">Name</label></div>
            <div class="col">
            <input type="text" name="name" placeholder="Name" id="name" required></div>
            
            <div class="col">
            <label for="pay" class="col-sm">Basic Pay</label></div>
            <div class="col">
            <input type="integer" name="pay" placeholder="Pay" id="pay" required></div>
            
            <div class="col">
            <label for="dob">Date of Birth</label></div>
            <div class="col">
            <input type="text" name="dob" placeholder="Enter Date of Birth: (dd/mm/yyyy)" required></div>
            
            <div class="col">
            <label for="doa">Date of Appointment</label></div>
            <div class="col">
            <input type="text" name="doa" placeholder="Enter Date of Appointment: (dd/mm/yyyy)" required></div>
            
            <div class="col">
            <label for="dor">Date of Retirement</label></div>
            <div class="col">
            <input type="text" name="dor" placeholder="Enter Date of Retirement: (dd/mm/yyyy)" required></div>
            
            <button type="submit" class="btn btn-success">Add</button>
            
            </form>
          </div>
              
            
            
        
        
        
        {% endblock content %}
     