{% extends "base.html" %}
{% block content %}

<p class="h1 bg-success">Wellcome to Pensioner management system</p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Pensioner ID</th>
        <th>Name</th>
        <th>Pay</th>
        <th>Age</th>
        <th>Qualifying Service</th>
        <th>Commutation Rate</th>
        <th>Date of Birth</th>
        <th>Date of Appointment</th>
        <th>Date of Retirement</th>
        
        
    </tr>
    {% for i in pensioner %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.pay}}</td>
        <td>{{i.age}}</td>
        <td>{{i.qs}}</td>
        <td>{{i.comm_rate}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.doa}}</td>
        <td>{{i.dor}}</td>

        
    </tr>
    {% endfor %}
</table>
  

{% endblock content %}