{% extends "base.html" %}
{% block content %}
    <form class="form-control" action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="fname" placeholder="First Name" required>
        <input type="text" name="lname" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email ID" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <button class="btn-primary" type="submit" >Register</button>

    </form>
    <div>
    {% for message in messages %}
       <h3> {{message}} <h3>
    </div>
    {% endfor %}

{% endblock content %}