{% extends "base.html" %}
{% block title %} Pensioner Management System {% endblock title %}
        {% block content %}
        
                <h3>Revise Pensioner</h3>
            <div class="row">  
            
              <form action="revise" method="POST" >
                {% csrf_token %}
                <input type="integer" name="id"  placeholder="Pensioner ID" required>
                <button type="submit" class="btn btn-success">Pensioner ID</button>
              </form> 
            
            {% for pensioner in pensioner %}
            <form class="form-group inline-block" action="/update/{{pensioner.id}}" method="POST" class="form-inline">
            {% csrf_token %}
            
             <div class="col">
            <label for="name" class="col-sm">Name</label></div>
            <div class="col">
            <input type="text" name="name" value="{{pensioner.name}}" id="name" required></div>
            
            <div class="col">
            <label for="pay" class="col-sm">Basic Pay</label></div>
            <div class="col">
            <input type="integer" name="pay" value="{{pensioner.pay}}" id="pay" required></div>
            
            <div class="col">
            <label for="dob">Date of Birth</label></div>
            <div class="col">
            <input type="text" name="dob" value="{{pensioner.dob}}" required></div>
            
            <div class="col">
            <label for="doa">Date of Appointment</label></div>
            <div class="col">
            <input type="text" name="doa" value="{{pensioner.doa}}" required></div>
            
            <div class="col">
            <label for="dor">Date of Retirement</label></div>
            <div class="col">
            <input type="text" name="dor" value="{{pensioner.dor}}" required></div>
            
            <button type="submit" class="btn btn-success">Update</button>
            
            </form>
            {% endfor %}
          </div>
              
            
            
        
        
        
        {% endblock content %}
     