{% extends 'base.html' %}
{% block content %}
<p class="display-3 text-info text-center">Dashboard</p>
<div class="container">
  <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    <div class="col bg-info" style="height:150px;">
      <div class="p-3  "> <p>  Total Pensioners: {{pensioner}}</p></div>
    </div>
    <div class="col bg-primary" style="height:150px;">
      <div class="p-3 "><p>  Total Monthly Pension: {{netpension.tp|floatformat:0}}</p></div>
    </div>
    <div class="col bg-danger" style="height:150px;">
      <div class="p-3 ">Last Added Pensioner<table class="table table-borderless">
        <tr><th>Pensioner ID</th><th>Name</th></tr>
        <tr><td>{{lts.id}}</td><td>{{lts.name}}</td></tr>
      </table></div>
    </div>
    <div class="col bg-success" style="height:150px;">
      <div class="p-3 "><p>Pensioners drawing less than Rs.50000</p>{{oldage}}</div>
    </div>
    <div class="col bg-dark text-white" style="height:150px;">
      <div class="p-3 ">Report</div>
    </div>
    <div class="col bg-warning" style="height:150px;">
      <div class="p-3 ">Report</div>
    </div>
   
  </div>
</div>
<div class="row">
    <div class="container col-lg-4">
     
    </div>
    <div class="containger col-4 m-25" ></div>
</div>

{% endblock content %}
